@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global, root and main container styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  @media (max-width: 480px) {
    overflow-y: auto;
  }
}

.root-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
  margin: 40px;
  min-height: calc(100vh - 80px);
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: white;
}

@media (max-width: 480px) {
  .root-layout {
    flex-direction: column;
    height: auto;
    margin: 20px;
    border: none;
    color: white;
  }
}

.light-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
  margin: 40px;
  min-height: calc(100vh - 80px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: black;
}

@media (max-width: 480px) {
  .light-layout {
    flex-direction: column;
    height: auto;
    margin: 20px;
    border: none;
    color: black;
  }
}

.home-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 40px;
  min-height: calc(100vh - 80px);
}

#main-title {
  -webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
  animation: 0.5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-content {
  width: 70%;
  height: 80%;
  margin-left: 10%;
  @media (max-width: 480px) {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0px;
  }
}

.inner-content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  @media (max-width: 480px) {
    padding: 30px;
    text-align: left;
  }
}

.inner-content-home {
  margin-top: 25%;
  padding-left: 15%;
  @media (max-width: 480px) {
    margin-top: 25%;
    padding: 30px;
    text-align: center;
  }
}

/* NavMenu styles */
.nav-anchor {
  padding: 0 0 10px 0; /* original */
  @media (max-width: 480px) {
    padding: 0 10px 0 15px;
  }
}

.nav-anchor-credits {
  padding: 0 0 10px 0; /* original */
  position: absolute;
  bottom: 5%;
  left: 20;
  @media (max-width: 480px) {
    display: none;
  }
}

.nav-anchor:hover,
.nav-anchor-credits:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.6) 30%,
    #fff 50%,
    rgba(255, 255, 255, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
    mask-position: -50%;
  }
}

.nav-mobile-layout {
  @media (max-width: 480px) {
    margin-top: 30px;
  }
}

/* ThemeButton styles */
.button-theme-position {
  color: white;
  position: fixed;
  z-index: 10;
  top: 6%;
  right: 3%;
  @media (max-width: 1600px) {
    top: 5%;
    right: 3%;
  }
  @media (max-width: 1440px) {
    top: 5%;
    right: 4%;
  }
  @media (max-width: 1366px) {
    top: 6.5%;
    right: 4%;
  }
  @media (max-width: 1280px) {
    top: 6%;
    right: 4.5%;
  }
  @media (max-width: 1024px) {
    top: 6.5%;
    right: 5%;
  }
  @media (max-width: 768px) {
    top: 5%;
    right: 6.5%;
  }
  @media (max-width: 480px) {
    top: 10px;
    right: 10px;
  }
}

/* About styles */
.techology-mobile-style {
  width: 30px;
}

/* Projects styles */
.project-image-style {
  border-radius: 20px;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    border-radius: 0px;
    margin-bottom: 10px;
  }
}

.project-image-style:hover {
  cursor: pointer;
}

.hover-project figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  max-height: 125px;
}
.hover-project figure:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.proyect-info {
  align-items: center;
}

.github-projects {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 20px;
  text-decoration: underline;
}

/* Contact styles */
.email-buttons {
  margin-left: 32%;
  margin-top: 30px;
  width: 300px;
  @media (max-width: 1024px) {
    margin-left: 22%;
  }
  @media (max-width: 768px) {
    margin-left: 2%;
  }
  @media (max-width: 480px) {
    margin-left: 0px;
    margin: 0 auto;
    width: 300px;
  }
}
